/* *********************
    Global start
   ********************** */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  --primarycolor: #3fd0d4;
  --mainwhite: #fff;
  --offwhite: #f7f7f7;
  --mainblack: #222;
  --maingrey: #ececec;
  --darkgrey: #afafaf;
  --maintransition: all 0.3s linear;
  --mainspacing: 0.4rem;
  --lightshadow: 0.2rem 0.5rem 0.3rem 0 rgba(0, 0, 0, 0.25);
  --darkshadow: 0.4rem 1rem 0.5rem 0 rgba(0, 0, 0, 0.25);
}

body {
  font-family: "Lato", sans-serif;
  color: var(--mainblack);
  background: var(--offwhite);
  line-height: 3.2rem;
  letter-spacing: var(--mainspacing);
  font-size: 1.6rem;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
/* *********************
    Global end
   ********************** */

/* *********************
    utilites start
   ********************** */
a,
a:link {
  display: inline-block;
  text-decoration: none;
  cursor: pointer;
}

span {
  display: inline-block;
}

ul {
  list-style-type: none;
}

img {
  display: block;
  width: 100%;
}

.section-title {
  margin-bottom: 6rem;
  text-align: center;
  font-size: 4rem;
  letter-spacing: 0.8rem;
}

.info-title {
  font-size: 3.2rem;
  letter-spacing: var(--mainspacing);
  margin-bottom: 2rem;
}

.info-text {
  font-weight: 300;
  margin-bottom: 2rem;
  letter-spacing: normal;
}

.highlight {
  color: var(--primarycolor);
}

.btn {
  font-size: 1.6rem;
  color: var(--mainwhite);
  letter-spacing: var(--mainspacing);
  text-transform: uppercase;
  transition: var(--maintransition);
}

.global-btn {
  margin-top: 3.2rem;
  background-color: var(--primarycolor);
  padding: 1.4rem 2.5rem;
  border: 0.2rem solid var(--primarycolor);
}

.global-btn:hover {
  background-color: transparent;
  color: var(--primarycolor);
}

input {
  width: 100%;
  display: block;
  border: none;
  outline: none;
  transition: var(--maintransition);
}

input[type="submit"] {
  text-transform: uppercase;
  width: auto;
  background-color: transparent;
  border: 1px solid var(--primarycolor);
  display: inline-block;
  transition: var(--maintransition);
}

input[type="submit"]:hover {
  background-color: var(--primarycolor);
  color: var(--mainwhite);
}

input::placeholder {
  text-transform: uppercase;
  padding: 1rem;
}
/* *********************
    utilites end
   ********************** */

/* *********************
    nav section start
   ********************** */
.nav {
  position: fixed;
  z-index: 1;
  width: 100%;
  background-color: var(--mainwhite);
  padding: 2rem;
  box-shadow: var(--lightshadow);
}

.nav-header {
  display: flex;
  justify-content: space-between;
}

.menu-bar {
  display: inline-block;
  font-size: 2rem;
  color: var(--primarycolor);
  transition: var(--maintransition);
}

.menu-bar:hover {
  transform: scale(1.5);
}

.logo {
  height: 2rem;
}

.links {
  display: none;
  margin-top: 2rem;
}

.show {
  display: block;
}

.links li {
  margin-bottom: 1rem;
}

.links a {
  font-size: 1.6rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: var(--mainspacing);
  color: var(--mainblack);
  transition: var(--maintransition);
}

.links a:hover {
  color: var(--primarycolor);
}

.socials {
  display: none;
}

.socials i {
  cursor: pointer;
  margin-left: 1.5rem;
  font-size: 2rem;
  color: var(--primarycolor);
  transition: var(--maintransition);
}

.socials i:hover {
  color: var(--darkgrey);
  transform: translateY(-0.8rem);
}

@media only screen and (min-width: 1180px) {
  .nav-header {
    display: inline-block;
  }
  .menu-bar {
    display: none;
  }
  .nav {
    padding: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .links {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }
  .socials {
    display: block;
  }
}
/* *********************
    nav section end
   ********************** */

/* *********************
    home section start
   ********************** */
.header {
  background-image: linear-gradient(rgba(63, 208, 212, 0.7), rgba(0, 0, 0, 0.7)),
    url("images/main.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* height: calc(100vh - 6rem); */
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-des {
  text-align: center;
  color: var(--mainwhite);
}

.header-title {
  font-size: 5.2rem;
  letter-spacing: 0.64rem;
  line-height: 7.4rem;
}

.header-text {
  width: 85%;
  margin: 3.2rem auto;
}

.header-btn {
  padding: 1.4rem 2.5rem;
  background-color: transparent;
  border: 0.2rem solid var(--mainwhite);
}

.header-btn:hover {
  background-color: var(--mainwhite);
  color: var(--primarycolor);
}
/* *********************
    home section end
   ********************** */

/* *********************
    about section start
   ********************** */
.about {
  padding: 8rem;
}

.about-two-part {
  display: flex;
  align-items: center;
  gap: 6rem;
}

.about-img {
  position: relative;
  width: 50%;
  height: 53rem;
  border: 0.8rem solid var(--primarycolor);
}

.about-img img {
  position: absolute;
  top: 2rem;
  left: 2rem;
  height: 100%;
}

.about-info {
  width: 50%;
}

@media only screen and (max-width: 1200px) {
  .about-img img {
    position: static;
  }
  .about-img {
    height: auto;
    border: none;
  }
}

@media only screen and (max-width: 992px) {
  .about-two-part {
    flex-wrap: wrap;
    justify-content: center;
  }
  .about-img,
  .about-info {
    width: 100%;
  }
  .about-img img {
    top: 0;
    left: 0;
  }
}
/* *********************
    about section end
   ********************** */

/* *********************
    service section start
   ********************** */
.services {
  padding: 8rem;
  background-color: var(--maingrey);
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.service-item {
  border: 1px solid var(--darkgrey);
  padding: 1rem;
}

.item-header {
  display: flex;
  gap: 1rem;
}

.item-logo {
  font-size: 2rem;
}

.service-item p {
  width: 85%;
}

@media only screen and (max-width: 1180px) {
  .service {
    flex-wrap: wrap;
  }
}
/* *********************
    service section end
   ********************** */

/* *********************
    feature section start
   ********************** */
.feature {
  padding: 8rem;
  text-align: center;
}

.tours {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.tour {
  border: 1px solid var(--darkgrey);
  box-shadow: var(--lightshadow);
  transition: var(--maintransition);
  flex: 0 0 30rem;
}

.tour:hover {
  box-shadow: var(--darkshadow);
}

.tour-des {
  padding: 1rem;
}

.tour-title {
  text-align: center;
}

.tour-info {
  color: var(--darkgrey);
  margin-top: 2rem;
  text-transform: capitalize;
}

.tour-location {
  color: var(--primarycolor);
}

/* *********************
    feature section end
   ********************** */

/* *********************
    gallary section start
   ********************** */
.gallary {
  background-color: var(--darkgrey);
  padding: 8rem;
}

.album {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.album-img {
  flex: 0 0 30rem;
  background-color: var(--primarycolor);
  transition: var(--maintransition);
  position: relative;
}

.album-img i {
  color: var(--mainwhite);
  font-size: 2.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.album-img:hover img {
  position: relative;
  opacity: 0.8;
  z-index: 1;
}

.album-img:hover i {
  z-index: 1;
}
/* *********************
    gallary section end
   ********************** */

/* *********************
    deal section start
   ********************** */
.deal {
  padding: 8rem;
}

.form {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="email"] {
  min-width: 30rem;
  max-width: 50rem;
}

input {
  font-size: 1.6rem;
  padding: 1rem 1.6rem;
  border: 1px solid var(--darkgrey);
}

input:focus {
  border: 1px solid var(--primarycolor);
  color: var(--primarycolor);
}

/* *********************
    deal section end
   ********************** */

/* *********************
    footer section start
   ********************** */
.footer {
  background-color: var(--mainblack);
  color: var(--mainwhite);
  padding: 8rem;
  text-align: center;
  text-transform: capitalize;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 4rem;
}

.footer-links a {
  font-size: 2rem;
  color: var(--mainwhite);
  transition: var(--maintransition);
}

.footer-links a:hover {
  color: var(--primarycolor);
}

.footer-socials i {
  cursor: pointer;
  font-size: 2.4rem;
  margin-left: 1rem;
  transition: var(--maintransition);
}

.footer-socials i:hover {
  color: var(--primarycolor);
  transform: translateY(1rem);
}

.copyright {
  margin-top: 4rem;
}

@media only screen and (max-width: 700px) {
  .footer-links {
    flex-direction: column;
  }
}
/* *********************
    footer section end
   ********************** */
